* {
    font-family: "Rubik";
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

body {
    margin: 20px 100px;
    background-color: #E5E5E5;
}

:where([data-sonner-toast][data-styled="true"]) {
    padding: 16px;
}